.vscode
/microservices/authentification/node_modules
/microservices/authentification/uploads
/microservices/authentification/build
/microservices/authentification/logs
/microservices/meetup/node_modules
/microservices/meetup/uploads
/microservices/meetup/build
/microservices/meetup/logs